{% extends "base.html" %}
{% block title%} Table de commutation {% endblock%}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Table de commutation</h1>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Vlan</th>
                            <th>Mac Adress</th>
                            <th>Type</th>
                            <th>Ports</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts%}
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

{% endblock%}